.clicker {
 background: #FFFFFF;
 background-image: url("https://i.imgur.com/Ac7QUxZ.png");
 background-size: cover;
 display: inline-block;
 border: none;
 width: 70px;
 height: 70px;
 transition: all 0.7s;
 cursor: pointer;
}

.clicker:hover
{
 width: 75px;
 height: 75px;
}

