body {
    background-color: black;
}

.version-one {
    color: white;
    font-family: verdana;
    text-align: center;
}

p {
    color: white;
    font-family: verdana;
    font-size: 18px;
    
}

.version-two {
  color: pink;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: left;
}
