body {
    background-image: url("images/spookpbanj.gif");
    background-repeat: repeat;
    font-family: Comic Sans, Comic Sans MS;
}

.version-one {
    font-style: italic;
    color: white;
}

p {
    font-style: italic;
    color: white;
   
}

.backArrow {
    color: white;
    font-size: 30px;
}
a { 
    font-family: Comic Sans, Comic Sans MS;
    font-size: xx-large;
}

a:link {
    color: white;
}

a:visited {
    color: grey;
}

a:hover {
    color: dimgrey;
}

a:active {
    color: slateblue;
}
