body {
    background-image: url("images/spookpbanj.gif");
    background-repeat: repeat;
}

.version-one {
    font-style: italic;
    color: white;
}

p {
    font-style: italic;
    color: white;
   
}

.backArrow {
    color: white;
    font-size: 30px;
}
