body {
    background-image: url("images/spookpbanj.GIF");
    background-repeat: repeat;
}

.version-one {
    font-style: italic;
    color: white;
}

p {
    font-style: italic;
    color: white;
   
}

