body {
background-image: url('background1.png');
background-size: cover;
background-repeat: no-repeat;

}

.version-one {
    color: white;
    font-family: verdana;
    text-align: center;
    border: 12px solid black;
    border-radius: 25px;
    background-color: rgba(73, 93, 94, 0.5);

}

p {
    color: white;
    font-family: verdana;
    font-size: 18px;
    
}

.version-two {
    color: white;
    font-family: verdana;
    text-align: center;
}

a { 
    font-family: verdana;
    font-size: large;
}
#GithubLink {display:block;text-align:center}
